In [32]:
from sqlalchemy import create_engine, text
CONN = "postgresql+psycopg://postgres:postgres@localhost:5432/pelu"
engine = create_engine(CONN, future=True)
with engine.connect() as c:
    print("Ping:", c.execute(text("SELECT 1")).scalar())

Ping: 1

In [33]:
from pathlib import Path
def run_sql(path):
    sql = Path(path).read_text(encoding="utf-8")
    from sqlalchemy import text as _t
    with engine.begin() as conn:
        conn.exec_driver_sql(sql)
    print("OK:", path)

In [43]:
run_sql("database/create_database.sql")
run_sql("database/views.sql")

OK: database/create_database.sql
OK: database/views.sql

In [45]:
import pandas as pd

Q1 = "SELECT peluqueria, comuna_peluqueria, fecha, hora, total_citas FROM pelu.vw_top_horario_por_dia ORDER BY peluqueria, fecha;"
Q2 = "SELECT peluqueria, comuna_peluqueria, cliente, comuna_cliente, mes, total_gastado FROM pelu.vw_top_gasto_mensual_por_peluqueria ORDER BY peluqueria, mes;"

df1 = pd.read_sql(Q1, engine)
df2 = pd.read_sql(Q2, engine)
df1, df2 

pd.read_sql("EXPLAIN " + Q1, engine)
pd.read_sql("EXPLAIN " + Q2, engine)

                                           QUERY PLAN
0        Sort  (cost=216.03..216.04 rows=3 width=908)
1                       Sort Key: t.peluqueria, t.mes
2     ->  Subquery Scan on t  (cost=183.01..216.01...
3                                  Filter: (t.rn = 1)
4           ->  WindowAgg  (cost=183.01..207.76 ro...
5                 Run Condition: (row_number() OVE...
6                 ->  Sort  (cost=183.01..184.66 r...
7                       Sort Key: p.id, (date_trun...
8                       ->  HashAggregate  (cost=1...
9                             Group Key: p.id, cm_...
10                            ->  Hash Join  (cost...
11                                  Hash Cond: (cl...
12                                  ->  Hash Join ...
13                                        Hash Con...
14                                        ->  Hash...
15                                              Ha...
16                                              ->...
17                                                ...
18                                                ...
19                                                ...
20                                                ...
21                                                ...
22                                                ...
23                                                ...
24                                                ...
25                                              ->...
26                                                ...
27                                        ->  Hash...
28                                              ->...
29                                  ->  Hash  (cos...
30                                        ->  Seq ...